.version.index /* version checker */
{
	color: #000013;
	background-color: #E1AF94;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 499.70000000000005px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -27px;
	padding-bottom: 62px;
	width: 0.01px;
}

#pu76-4
{
	width: 0.01px;
	margin-left: 66px;
}

#u76-4
{
	z-index: 3;
	width: 188px;
	min-height: 17px;
	background-color: transparent;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
}

#u77-4
{
	z-index: 7;
	width: 82px;
	min-height: 9px;
	background-color: transparent;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 670px;
}

#u78-4
{
	z-index: 11;
	width: 79px;
	min-height: 31px;
	background-color: transparent;
	font-size: 14px;
	font-family: lato, sans-serif;
	font-weight: 700;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 778px;
}

#u75
{
	z-index: 2;
	height: 1px;
	background-color: #7F7F7F;
}

#u75-bw
{
	z-index: 2;
	margin-top: -5px;
	margin-bottom: -1px;
	height: 1px;
}

#u79-4
{
	z-index: 15;
	width: 188px;
	min-height: 17px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	font-family: lato, sans-serif;
	font-weight: 300;
	margin-left: 66px;
	margin-top: 21px;
	position: relative;
}

#u80-6
{
	z-index: 19;
	width: 432px;
	min-height: 18px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 400;
	margin-left: 66px;
	margin-top: 12px;
	position: relative;
}

#pppu84
{
	width: 0.01px;
	margin-left: 66px;
	margin-top: 58px;
}

#ppu84
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u84
{
	z-index: 28;
	width: 100px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
}

#u101-4
{
	z-index: 32;
	width: 90px;
	min-height: 24px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u81
{
	z-index: 25;
	width: 200px;
	height: 200px;
	background-color: #8BA2FF;
	margin-top: 12px;
	position: relative;
}

#ppu107
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 314px;
}

#u107
{
	z-index: 42;
	width: 93px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
}

#u106-4
{
	z-index: 38;
	width: 90px;
	min-height: 24px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u82
{
	z-index: 26;
	width: 200px;
	height: 200px;
	background-color: #8BA2FF;
	margin-top: 16px;
	position: relative;
}

#ppu109
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 627px;
}

#pu84,#pu107,#pu109
{
	width: 0.01px;
}

#u109
{
	z-index: 47;
	width: 93px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u108-4
{
	z-index: 43;
	width: 90px;
	min-height: 24px;
	background-color: transparent;
	font-family: lato, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 110px;
}

#u83
{
	z-index: 27;
	width: 200px;
	height: 200px;
	background-color: #8BA2FF;
	margin-top: 16px;
	position: relative;
}

#u98
{
	z-index: 29;
	width: 1px;
	height: 457px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 256px;
}

#u99
{
	z-index: 30;
	width: 1px;
	height: 457px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	left: 570px;
}

#u102
{
	z-index: 36;
	width: 93px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 210px;
}

#u103
{
	z-index: 37;
	width: 93px;
	height: 1px;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
	left: 524px;
}

#u100
{
	z-index: 31;
	height: 1px;
	background-color: #7F7F7F;
}

#u100-bw
{
	z-index: 31;
	margin-top: 37px;
	height: 1px;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

